{% if request.page_type == 'index' %}
<main>
    <h1 class="greeting_text">Fenrir The Monster Wolf of Norse Mythology Necklace</h1>
    <div class="wrapper_price">
        <span>$19.95</span>
        <span class="line-through">$29.95</span>
    </div>
    <button>Start Shopping</button>
</main>
{% endif %}